*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

*.sublime-workspace

futsalann\.sublime-project

assets/vendors/adminlte/bower_components/

assets/vendors/adminlte/build/

assets/vendors/adminlte/dist/

assets/vendors/adminlte/documentation/

assets/vendors/adminlte/img/

assets/vendors/adminlte/pages/

assets/vendors/adminlte/plugins/

assets/vendors/adminlte/bower\.json

assets/vendors/adminlte/changelog\.md

assets/vendors/adminlte/composer\.json

assets/vendors/adminlte/Gruntfile\.js

assets/vendors/adminlte/index\.html

assets/vendors/adminlte/index2\.html

assets/vendors/adminlte/LICENSE

assets/vendors/adminlte/package-lock\.json

assets/vendors/adminlte/package\.json

assets/vendors/adminlte/README\.md

assets/vendors/adminlte/starter\.html

assets/vendors/adminlte/yarn\.lock
